<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">
    
    <select id="iniciarSesionCliente" resultType="modelo.pojo.Cliente" parameterType="modelo.pojo.Cliente">
        SELECT idCliente, nombre, apellidoPaterno, apellidoMaterno, telefono, email, direccion, fechaNacimiento, password
        FROM cliente 
        WHERE email = #{email} AND password=#{password}
    </select>

    <select id="iniciarSesionUsuario" resultType="modelo.pojo.Usuario" parameterType="modelo.pojo.Usuario">
        SELECT u.idUsuario, u.nombre, u.apellidoPaterno, u.apellidoMaterno, u.curp, u.email, u.username, u.password, u.rol, r.nombre as nombreRol, u.empresa, e.nombreComercial  as nombreEmpresa
        FROM usuario u
        INNER JOIN rol r ON u.rol = r.idRol
        LEFT JOIN empresa e ON u.empresa = e.idEmpresa
        WHERE u.username=#{username} AND u.password=#{password}
    </select>
    
</mapper>
