<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">
    
    <select id="iniciarSesionCliente" resultType="modelo.pojo.Cliente" parameterType="modelo.pojo.Cliente">
        SELECT idCliente, nombre, apellidoPaterno, apellidoMaterno, telefono, email, direccion, fechaNacimiento, password
        FROM cliente 
        WHERE email = #{email} AND password=#{password}
    </select>

    <select id="iniciarSesionUsuario" resultType="modelo.pojo.Usuario" parameterType="modelo.pojo.Usuario">
        SELECT idUsuario, u.nombre, apellidoPaterno, apellidoMaterno, curp, u.email, username, password, rol, r.nombre as nombreRol, empresa as nombreEmpresa
        FROM usuario u
        INNER JOIN rol r ON u.rol = r.idRol
        LEFT JOIN empresa e ON u.empresa = e.idEmpresa
        WHERE username=#{username} AND password=#{password}
    </select>
    
</mapper>
