<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    
    <select id="obtenerClientePorId" parameterType="int" resultType="modelo.pojo.Cliente">
        SELECT c.idCliente, c.nombre, c.apellidoPaterno, c.apellidoMaterno, c.telefono, c.email, c.direccion, c.fechaNacimiento, c.password
        FROM cliente c 
        WHERE c.idCliente = #{idCliente} 
        
    </select>
    
     <select id="obtenerDireccionPorIdCliente" parameterType="int" resultType="modelo.pojo.Direccion">
        SELECT d.idDireccion, d.calle, d.numero 
        FROM direccion d 
        INNER JOIN 
        cliente c ON d.idDireccion = c.direccion 
        WHERE c.idCliente = #{idCliente}
    </select>
    
    
    <insert id="registrarCliente" parameterType="modelo.pojo.DatosRegistroCliente" statementType="CALLABLE" >
        {CALL registrarCliente(
            #{cliente.nombre, mode=IN, jdbcType=VARCHAR},
            #{cliente.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{cliente.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            #{cliente.telefono, mode=IN, jdbcType=VARCHAR},
            #{cliente.email, mode=IN, jdbcType=VARCHAR},
            #{cliente.fechaNacimiento, mode=IN, jdbcType=VARCHAR},
            #{cliente.password, mode=IN, jdbcType=VARCHAR},
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
        )}
    </insert>
    
    
    <update id="editarCliente" parameterType="modelo.pojo.DatosRegistroCliente" statementType="CALLABLE">
        {CALL modificarCliente(
            #{cliente.idCliente, mode=IN, jdbcType=INTEGER},
            #{cliente.nombre, mode=IN, jdbcType=VARCHAR},
            #{cliente.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{cliente.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            #{cliente.telefono, mode=IN, jdbcType=VARCHAR},
            #{cliente.fechaNacimiento, mode=IN, jdbcType=VARCHAR},
            #{cliente.password, mode=IN, jdbcType=VARCHAR},
            #{direccion.idDireccion, mode=IN, jdbcType=INTEGER},
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
        )}
    </update>
    
</mapper>