<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    
    <select id="verificarClienteExistente" resultType="modelo.pojo.Cliente" parameterType="map">
        SELECT * 
        FROM cliente 
        WHERE email = #{email}
    </select>
    
    <select id="obtenerClientePorId" resultType="modelo.pojo.Cliente" parameterType="int" >
        SELECT * 
        FROM cliente 
        WHERE idCliente = #{id}
    </select>
    
    <insert id="registrarCliente" parameterType="modelo.pojo.Cliente" >
        
        INSERT INTO cliente (nombre, apellidoPaterno, apellidoMaterno, telefono, email, calle, numero, fechaNacimiento, password) 
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{telefono}, #{email}, #{calle}, #{numero}, #{fechaNacimiento}, #{password})
                
    </insert>
    
    
    <update id="modificarCliente" parameterType="modelo.pojo.Cliente">
        UPDATE cliente SET nombre=#{nombre}, apellidoPaterno=#{apellidoPaterno}, apellidoMaterno=#{apellidoMaterno}, 
        telefono=#{telefono}, calle=#{calle}, numero=#{numero}, fechaNacimiento=#{fechaNacimiento}, password=#{password} 
        WHERE id=#{id}
    </update>
    
</mapper>