<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    
    <select id="verificarClienteExistente" resultType="modelo.pojo.Cliente" parameterType="map">
        SELECT * 
        FROM cliente 
        WHERE email = #{email}
    </select>
    
    <select id="obtenerClientePorId" resultType="modelo.pojo.Cliente" parameterType="int" >
        SELECT * 
        FROM cliente 
        WHERE idCliente = #{idCliente}
    </select>
    
    <insert id="registrarCliente" parameterType="modelo.pojo.DatosRegistroCliente" statementType="CALLABLE" >
        {CALL registrarCliente(
            #{cliente.nombre, mode=IN, jdbcType=VARCHAR},
            #{cliente.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{cliente.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            #{cliente.telefono, mode=IN, jdbcType=VARCHAR},
            #{cliente.email, mode=IN, jdbcType=VARCHAR},
            #{cliente.fechaNacimiento, mode=IN, jdbcType=VARCHAR},
            #{cliente.password, mode=IN, jdbcType=VARCHAR},
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{direccion.tipoDireccion, mode=IN, jdbcType=INTEGER},
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER}
        )}
    </insert>
    
    
    <update id="modificarCliente" parameterType="modelo.pojo.Cliente">
        UPDATE cliente SET nombre=#{nombre}, apellidoPaterno=#{apellidoPaterno}, apellidoMaterno=#{apellidoMaterno}, 
        telefono=#{telefono}, direccion=#{direccion}, fechaNacimiento=#{fechaNacimiento}, password=#{password} 
        WHERE idCliente=#{idCliente}
    </update>
    
</mapper>