<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="direccion">
    
   
    <select id="obtenerEstados" resultType="modelo.pojo.Estado">
        SELECT idEstado, nombre FROM estado
    </select>
    
    <select id="obtenerCiudades" resultType="modelo.pojo.Ciudad" parameterType="int">
        SELECT idCiudad, nombre FROM ciudad WHERE estado=#{idEstado}
    </select>
</mapper>

