<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empresa">
    
    <select id="obtenerListaEmpresas" resultType="modelo.pojo.Empresa">
        SELECT e.idEmpresa, e.nombre, e.nombreComercial,e.email,e.telefono, e.paginaWeb, e.rfc, es.idEstatus, es.nombre AS nombreEstatus 
        FROM empresa e 
        INNER JOIN estatus es ON es.idEstatus=e.estatus; 
    </select>
    
    <insert id="registrarEmpresa" parameterType="modelo.pojo.DatosRegistroEmpresa" statementType="CALLABLE">
         {CALL registrarEmpresa(
            #{empresa.nombre, mode=IN, jdbcType=VARCHAR},
            #{empresa.nombreComercial, mode=IN, jdbcType=VARCHAR},
            #{empresa.logo, mode=IN, jdbcType=BLOB},
            #{empresa.email, mode=IN, jdbcType=VARCHAR},
            #{empresa.telefono, mode=IN, jdbcType=VARCHAR},
            #{empresa.paginaWeb, mode=IN, jdbcType=VARCHAR},
            #{empresa.rfc, mode=IN, jdbcType=VARCHAR},
      
            #{persona.nombre, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{direccion.codigoPostal, mode=IN, jdbcType=VARCHAR},
            #{direccion.ciudad, mode=IN, jdbcType=INTEGER},
        
            
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
    )}

    </insert>
    
    <update id="editarEmpresa" parameterType="modelo.pojo.DatosRegistroEmpresa" statementType="CALLABLE">
        {CALL modificarEmpresa(
            #{empresa.idEmpresa, mode=IN, jdbcType=INTEGER},
            #{empresa.nombre, mode=IN, jdbcType=VARCHAR},
            #{empresa.nombreComercial, mode=IN, jdbcType=VARCHAR},
            #{empresa.logo, mode=IN, jdbcType=BLOB},
            #{empresa.email, mode=IN, jdbcType=VARCHAR},
            #{empresa.telefono, mode=IN, jdbcType=VARCHAR},
            #{empresa.paginaWeb, mode=IN, jdbcType=VARCHAR},
            #{empresa.idEstatus, mode=IN, jdbcType=INTEGER},
            
            #{direccion.idDireccion, mode=IN, jdbcType=INTEGER},
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{direccion.codigoPostal, mode=IN, jdbcType=VARCHAR},
            #{direccion.ciudad, mode=IN, jdbcType=INTEGER},
        
            #{persona.idPersona, mode=IN, jdbcType=INTEGER},
            #{persona.nombre, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
    )}
    </update>
    
    <delete id="eliminarEmpresa" parameterType="modelo.pojo.DatosRegistroEmpresa" statementType="CALLABLE">
        {CALL eliminarEmpresa(
            #{empresa.idEmpresa, mode=IN, jdbcType=INTEGER},
        
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
        )}
    </delete>
    
    <select id="obtenerRepresentantePorId" resultType="modelo.pojo.Persona" parameterType="int">
        SELECT pe.idPersona, pe.nombre, pe.apellidoPaterno, pe.apellidoMaterno 
        FROM persona pe 
        INNER JOIN empresa e ON pe.idPersona=e.representante 
        WHERE e.idEmpresa=#{idEmpresa};
    </select>
    
    <select id="obtenerDireccionPorId" resultType="modelo.pojo.Direccion" parameterType="int">
        SELECT di.idDireccion, di.calle, di.numero, di.codigoPostal, di.ciudad, c.estado
        FROM direccion di 
        INNER JOIN empresa e ON e.direccion = di.idDireccion 
        INNER JOIN ciudad c ON di.ciudad = c.idCiudad 
        WHERE e.idEmpresa = #{idEmpresa} 
    </select>
    
    <select id="obtenerEmpresaPorId" resultType="modelo.pojo.Empresa" parameterType="int">
        SELECT idEmpresa, nombre, nombreComercial, email, telefono, paginaWeb, rfc, estatus as idEstatus, to_base64(logo) as logoBase64
        FROM empresa 
        WHERE idEmpresa = #{idEmpresa} 
    </select>
</mapper>
