<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empresa">

    
    <insert id="registrarEmpresa" parameterType="modelo.pojo.DatosRegistroEmpresa" statementType="CALLABLE">
         {CALL registrarEmpresa(
            #{empresa.nombre, mode=IN, jdbcType=VARCHAR},
            #{empresa.nombreComercial, mode=IN, jdbcType=VARCHAR},
            #{empresa.logo, mode=IN, jdbcType=BLOB},
            #{empresa.email, mode=IN, jdbcType=VARCHAR},
            #{empresa.telefono, mode=IN, jdbcType=VARCHAR},
            #{empresa.paginaWeb, mode=IN, jdbcType=VARCHAR},
            #{empresa.rfc, mode=IN, jdbcType=VARCHAR},
            #{empresa.estatus, mode=IN, jdbcType=INTEGER},
      
            #{persona.nombre, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{direccion.codigoPostal, mode=IN, jdbcType=VARCHAR},
            #{direccion.ciudad, mode=IN, jdbcType=INTEGER},
        
            
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
    )}

    </insert>
    
    <update id="editarEmpresa" parameterType="modelo.pojo.DatosRegistroEmpresa" statementType="CALLABLE">
        {CALL modificarEmpresa(
            #{empresa.idEmpresa, mode=IN, jdbcType=INTEGER},
            #{empresa.nombre, mode=IN, jdbcType=VARCHAR},
            #{empresa.nombreComercial, mode=IN, jdbcType=VARCHAR},
            #{empresa.email, mode=IN, jdbcType=VARCHAR},
            #{empresa.telefono, mode=IN, jdbcType=VARCHAR},
            #{empresa.paginaWeb, mode=IN, jdbcType=VARCHAR},
            #{empresa.estatus, mode=IN, jdbcType=INTEGER},
            
            #{direccion.idDireccion, mode=IN, jdbcType=INTEGER},
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{direccion.codigoPostal, mode=IN, jdbcType=VARCHAR},
            #{direccion.ciudad, mode=IN, jdbcType=INTEGER},
        
            #{persona.idPersona, mode=IN, jdbcType=INTEGER},
            #{persona.nombre, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
    )}
    </update>
    
    <delete id="eliminarEmpresa" parameterType="modelo.pojo.Empresa">
        DELETE FROM empresa WHERE idEmpresa = #{idEmpresa}
    </delete>


</mapper>
