<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="promocion">
    
    <insert id="registrarPromocion" parameterType="modelo.pojo.DatosRegistroPromocion" statementType="CALLABLE">
        {CALL registrarPromocion(
            
    )}
    </insert>

</mapper>
