<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="promociones">
    
    <insert id="registrarPromocion" parameterType="modelo.pojo.DatosRegistroPromocion" statementType="CALLABLE">
        {CALL registrarPromocion (
            #{promocion.nombre, mode=IN, jdbcType=VARCHAR},
            #{promocion.descripcion, mode=IN, jdbcType=VARCHAR},
            #{promocion.imagen, mode=IN, jdbcType=BLOB},
            #{promocion.fechaInicio, mode=IN, jdbcType=VARCHAR},
            #{promocion.fechaTermino, mode=IN, jdbcType=VARCHAR},
            #{promocion.restricciones, mode=IN, jdbcType=VARCHAR},
            #{promocion.tipoPromocion, mode=IN, jdbcType=INTEGER},
            #{promocion.porcentajeDescuento, mode=IN, jdbcType=INTEGER},
            #{promocion.categoria, mode=IN, jdbcType=INTEGER},
            #{promocion.maximoCupones, mode=IN, jdbcType=INTEGER},
            #{promocion.codigoPromocion, mode=IN, jdbcType=VARCHAR},
            #{promocion.empresa, mode=IN, jdbcType=INTEGER},
            
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
        )}
    </insert>

    <update id="modificarPromocion" parameterType="modelo.pojo.DatosRegistroPromocion" statementType="CALLABLE">
        {CALL modificarPromocion (
            #{promocion.idPromocion, mode=IN, jdbcType=INTEGER},
            #{promocion.nombre, mode=IN, jdbcType=VARCHAR},
            #{promocion.descripcion, mode=IN, jdbcType=VARCHAR},
            #{promocion.imagen, mode=IN, jdbcType=BLOB},
            #{promocion.fechaInicio, mode=IN, jdbcType=VARCHAR},
            #{promocion.fechaTermino, mode=IN, jdbcType=VARCHAR},
            #{promocion.restricciones, mode=IN, jdbcType=VARCHAR},
            #{promocion.tipoPromocion, mode=IN, jdbcType=INTEGER},
            #{promocion.porcentajeDescuento, mode=IN, jdbcType=INTEGER},
            #{promocion.categoria, mode=IN, jdbcType=INTEGER},
            #{promocion.cuponesDisponibles, mode=IN, jdbcType=INTEGER},
            #{promocion.codigoPromocion, mode=IN, jdbcType=VARCHAR},
            #{promocion.estatus, mode=IN, jdbcType=INTEGER},
            #{promocion.empresa, mode=IN, jdbcType=INTEGER},
            
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
        )}
    </update>
    
    <delete id="eliminarPromocion" parameterType="modelo.pojo.DatosRegistroPromocion" statementType="CALLABLE">
        {CALL eliminarPromocion(
            #{promocion.idPromocion, mode=IN, jdbcType=INTEGER},
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=INTEGER}
        )}
    </delete>
    
    <select id="obtenerPorId" resultType="modelo.pojo.Promocion" parameterType="int">
        SELECT idPromocion, nombre, descripcion, to_base64(imagen) as imagenBase64, 
            fechaInicio, fechaTermino, restricciones, tipoPromocion, porcentajeDescuento, 
            categoria, cuponesDisponibles, maximoCupones, codigoPromocion, estatus, 
            empresa FROM promocion
        WHERE idPromocion = #{idPromocion};
    </select>
    
    <select id="obtenerPromociones" resultType="modelo.pojo.Promocion">
        SELECT p.idPromocion, p.nombre, p.descripcion, p.fechaInicio, p.fechaTermino, 
            p.restricciones, p.tipoPromocion, tp.nombre as tipoPromocionNombre, 
            p.porcentajeDescuento, p.categoria, c.nombre as categoriaNombre,
            p.cuponesDisponibles, p.codigoPromocion, p.estatus, es.nombre as estatusNombre, 
            p.empresa, em.nombreComercial as empresaNombre FROM promocion p
            INNER JOIN tipoPromocion tp ON p.tipoPromocion = tp.idTipoPromocion
            INNER JOIN categoriapromocion c ON p.categoria = c.idCategoria
            INNER JOIN estatus es ON p.estatus = es.idEstatus
            INNER JOIN empresa em ON p.empresa = em.idEmpresa;
    </select>
    
    <select id="obtenerPromocionesPorCategoria" resultType="modelo.pojo.Promocion" parameterType="int">
        SELECT p.idPromocion, p.nombre, p.descripcion, p.fechaInicio, p.fechaTermino, 
            p.restricciones, p.tipoPromocion, tp.nombre as tipoPromocionNombre, 
            p.porcentajeDescuento, p.categoria, c.nombre as categoriaNombre,
            p.cuponesDisponibles, p.codigoPromocion, p.estatus, es.nombre as estatusNombre, 
            p.empresa, em.nombreComercial as empresaNombre FROM promocion p
            INNER JOIN tipoPromocion tp ON p.tipoPromocion = tp.idTipoPromocion
            INNER JOIN categoriapromocion c ON p.categoria = c.idCategoria
            INNER JOIN estatus es ON p.estatus = es.idEstatus
            INNER JOIN empresa em ON p.empresa = em.idEmpresa 
            WHERE  c.idCategoria=#{idCategoria};
    </select>
    
    <select id="obtenerLogoPorId" resultType="modelo.pojo.Promocion" parameterType="int">
        SELECT to_base64(imagen) as imagenBase64 FROM promocion
        WHERE idPromocion = #{idPromocion};
    </select>
    
    <select id="obtenerTiposPromocion" resultType="modelo.pojo.TipoPromocion">
        SELECT * FROM tipopromocion;
    </select>
    
    <select id="obtenerCategorias" resultType="modelo.pojo.Categoria">
        SELECT * FROM categoriapromocion
    </select>
    
    
</mapper>
