<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">

    
    <insert id="registrarSucursal" parameterType="modelo.pojo.DatosRegistroSucursal" statementType="CALLABLE">
           {CALL registrarSucursal(
            #{sucursal.nombre, mode=IN, jdbcType=VARCHAR},
            #{sucursal.telefono, mode=IN, jdbcType=VARCHAR},
            #{sucursal.latitud, mode=IN, jdbcType=DOUBLE},
            #{sucursal.longitud, mode=IN, jdbcType=DOUBLE},
            #{sucursal.empresa, mode=IN, jdbcType=INTEGER},
        
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{direccion.codigoPostal, mode=IN, jdbcType=VARCHAR},
            #{direccion.colonia, mode=IN, jdbcType=VARCHAR},
            #{direccion.ciudad, mode=IN, jdbcType=INTEGER},
            
            #{persona.nombre, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER}
    )}
    </insert>
    
    <update id="editarSucursal" parameterType="modelo.pojo.DatosRegistroSucursal" statementType="CALLABLE">
        {CALL modificarSucursal(
            #{sucursal.idSucursal, mode=IN, jdbcType=INTEGER},
            #{sucursal.nombre, mode=IN, jdbcType=VARCHAR},
            #{sucursal.telefono, mode=IN, jdbcType=VARCHAR},
            #{sucursal.latitud, mode=IN, jdbcType=DOUBLE},
            #{sucursal.longitud, mode=IN, jdbcType=DOUBLE},
            #{sucursal.empresa, mode=IN, jdbcType=INTEGER},
        
            #{persona.idPersona, mode=IN, jdbcType=INTEGER},
            #{persona.nombre, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
        
            #{direccion.idDireccion, mode=IN, jdbcType=INTEGER},
            #{direccion.calle, mode=IN, jdbcType=VARCHAR},
            #{direccion.numero, mode=IN, jdbcType=INTEGER},
            #{direccion.codigoPostal, mode=IN, jdbcType=VARCHAR},
            #{direccion.colonia, mode=IN, jdbcType=VARCHAR},
            #{direccion.ciudad, mode=IN, jdbcType=INTEGER},
            
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=INTEGER}
    )}
    </update>
    
</mapper>
