<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="usuario">
    <insert id="registrarUsuario" parameterType="modelo.pojo.Usuario">
        INSERT INTO usuario (nombre, apellidoPaterno, apellidoMaterno, curp, email, username, password, rol, empresa)
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{curp}, #{email}, #{username}, #{password}, #{rol}, #{empresa})
    </insert>
    
    <update id="editarUsuario" parameterType="modelo.pojo.Usuario">
        UPDATE usuario 
        SET nombre = #{nombre}, apellidoPaterno = #{apellidoPaterno}, 
        apellidoMaterno = #{apellidoMaterno}, curp = #{curp}, email = #{email}, 
        username = #{username}, password = #{password}, rol = #{rol}, empresa = #{empresa}
        WHERE idUsuario = #{idUsuario}
    </update>
    
    <delete id="eliminarUsuario" parameterType="int">
        DELETE 
        FROM usuario
        WHERE idUsuario = #{idUsuario}
    </delete>
    
    <select id="buscarUsuarioPorFiltro" parameterType="modelo.pojo.FiltroBuscarUsuario" resultType="modelo.pojo.Usuario" statementType="CALLABLE">
        {CALL buscarUsuarioPorFiltro(
            #{cadenaBusqueda, mode=IN},
            #{porNombre, mode=IN},
            #{porUsername, mode=IN},
            #{porRol, mode=IN}
        )}
    </select>
    
    <select id="obtenerTodos" resultType="modelo.pojo.Usuario">
        SELECT idUsuario, u.nombre, apellidoPaterno, apellidoMaterno, curp, u.email, username, password, rol, r.nombre as nombreRol, empresa, e.nombreComercial as nombreEmpresa 
        FROM usuario u
        INNER JOIN rol r ON u.rol = r.idRol
        LEFT JOIN empresa e ON u.empresa = e.idEmpresa
        ORDER BY idUsuario;
    </select>
    
    <select id="obtenerPorId" resultType="modelo.pojo.Usuario" parameterType="int">
        SELECT *
        FROM usuario
        WHERE idUsuario = #{idUsuario};
    </select>
</mapper>
